#total-price {
	color: white;
}

#total-time {
	color: white;
}

#backtomenu {
	color: lightblue;
}

#tablePlacement {
	color: white;
}

#placeOrder:hover {
	background-color: steelblue;
}
