.timecard {
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
	color: white;
}

#timeDescriptor {
	color: white;
	text-align: right;
}

#datetime {
	color: white;
	text-align: right;
}

#pancakelabel {
	color: white;
}

#sandwichlabel {
	color: white;
}

#egglabel {
	color: white;
}

#breakfastspecialslabel {
	color: white;
}

#breakfastlabel {
	color: white;
	text-align: center;
}

#drinkslabel {
	color: white;
	text-align: center;
}

#lunchlabel {
	color: white;
	text-align: center;
}

.card {
	position: absolute;
	border-radius: 8px;
	left: 0px;
	background: rgba(255, 255, 255, 0.2);
	width: 30%;
}

.card_right {
	position: absolute;
	border-radius: 8px;
	right: 0px;
	background: rgba(255, 255, 255, 0.2);
	width: 30%;
}

.card_middle {
	margin: auto;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.2);
	width: 30%;
}

.productcard {
	padding: 5px;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.35);
}

.add-to-cart {
	background-color: grey;
	border-radius: 4px;
	color: white;
	transition-duration: 0.4s;
}

.add-to-cart:hover {
	background-color: steelblue;
}
